.app-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: unset!important;
    margin-top: 16px!important;
    margin-right: unset!important;
}

@media screen and (max-width: 480px) {
    .app-nav {
        margin-right: 0!important; 
    }
}

@media only screen and (max-width: 930px) and (min-width: 755px) {
    .app-nav {
        width: 100%; 
        margin-right: 0!important; 
    }
}

@media only screen and (max-width: 385px) and (min-width: 306px) {
    .app-nav {
        text-align: center !important;
    }
}

/* Main section styling */

.content {
    padding-top: 16px !important; /* Add some padding to the top of the content */
}

/* Additional adjustments for smaller screens */
@media screen and (max-width: 480px) {
    .content {
        padding-top: 8px !important; /* Reduce the padding on smaller screens */
    }
}
