.app-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: unset !important;
  margin-top: 16px !important;
  margin-right: unset !important;
  text-align: center;
}

.content .markdown-section table {
    margin-top: 30px;
}

#docsify-darklight-theme {
  right: 950px;
  top: -5px;
}

body.ready.sticky main section.content {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 480px) {
  .app-nav {
    margin-right: 0 !important;
  }
  .app-nav ul {
        padding-left: 0;
  }
}

@media only screen and (max-width: 930px) and (min-width: 755px) {
  .app-nav {
    width: 100%;
    margin-right: 0 !important;
  }
}

@media only screen and (max-width: 655px) and (min-width: 513px) {
    .app-nav ul{
        margin-left: -30px;
    }
}

/* Main section styling */

.content {
  padding-top: 16px !important; /* Add some padding to the top of the content */
}

/* Additional adjustments for smaller screens */
@media screen and (max-width: 480px) {
  .content {
    padding-top: 8px !important; /* Reduce the padding on smaller screens */
  }
}
